## Titanic-Machine Learning from Disaster
This is one of way of uploading data using Colab instructions

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt

In [ ]:
from sklearn import svm
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('train.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])

In [ ]:
df['Embarked'] = df['Embarked'].replace(np.nan,'S')
df['Embarked'] = le.fit_transform(df['Embarked'])

In [ ]:
for i in range(len(df['Fare'])):
  if df['Fare'][i] > 31:
    df['Fare'][i] = 4
  elif 31 >= df['Fare'][i] > 14.4542:
    df['Fare'][i] = 3
  elif 14.4542 >= df['Fare'][i] > 7.9104:
    df['Fare'][i] = 2
  elif 7.9104 >= df['Fare'][i]:
    df['Fare'][i] = 1

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
for i in range(len(df['Age'])):
  if df['Age'][i] > 38:
    df['Age'][i] = 4
  elif 38 >= df['Age'][i] > 28:
    df['Age'][i] = 3
  elif 28 >= df['Age'][i] > 20.125:
    df['Age'][i] = 2
  elif 20.125 >= df['Age'][i]:
    df['Age'][i] = 1
df['Age'] = df['Age'].replace(np.nan,5)
for i in range(len(df.Age)):
  if df.Age[i] == 5:
    df.Age[i] = np.random.random_integers(4)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: DeprecationWarning: This function is deprecated. Please call randint(1, 4 + 1) instead
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
X = df[['Pclass','Sex','SibSp','Parch','Age','Fare','Embarked']]
y = df['Survived']

x_train,x_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=40)

In [ ]:
model1 = DecisionTreeClassifier(criterion="entropy",max_depth=4)
model2 = KNeighborsClassifier(n_neighbors=7)
model3 = LogisticRegression(C=0.1,solver='liblinear')
model4 = svm.SVC(kernel='rbf')
model5 = RandomForestClassifier(n_estimators=13)

model1.fit(x_train,y_train)
model2.fit(x_train,y_train)
model3.fit(x_train,y_train)
model4.fit(x_train,y_train)
model5.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=13,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
pred1=model1.predict(x_test)
pred2=model2.predict(x_test)
pred3=model3.predict(x_test)
pred4=model4.predict(x_test)
pred5=model5.predict(x_test)
pred = []
for i in range(len(x_test)):
  p = stats.mode([pred1[i],pred2[i],pred3[i],pred4[i],pred5[i]])
  pred.append(p.mode)

In [ ]:
print(classification_report(pred1,pred2))
print(classification_report(pred1,pred3))
print(classification_report(pred1,pred4))
print(classification_report(pred1,pred5))
print(classification_report(pred2,pred3))
print(classification_report(pred2,pred4))
print(classification_report(pred2,pred5))
print(classification_report(pred3,pred4))
print(classification_report(pred3,pred5))
print(classification_report(pred4,pred5))

              precision    recall  f1-score   support

           0       0.91      0.93      0.92       124
           1       0.83      0.80      0.81        55

    accuracy                           0.89       179
   macro avg       0.87      0.86      0.87       179
weighted avg       0.89      0.89      0.89       179

              precision    recall  f1-score   support

           0       0.91      0.86      0.88       124
           1       0.72      0.80      0.76        55

    accuracy                           0.84       179
   macro avg       0.81      0.83      0.82       179
weighted avg       0.85      0.84      0.85       179

              precision    recall  f1-score   support

           0       0.97      0.85      0.91       124
           1       0.73      0.95      0.83        55

    accuracy                           0.88       179
   macro avg       0.85      0.90      0.87       179
weighted avg       0.90      0.88      0.88       179

              precision    recall  f1-score   support

           0       0.97      0.84      0.90       124
           1       0.72      0.95      0.82        55

    accuracy                           0.87       179
   macro avg       0.85      0.89      0.86       179
weighted avg       0.90      0.87      0.88       179

              precision    recall  f1-score   support

           0       0.92      0.87      0.89       126
           1       0.72      0.83      0.77        53

    accuracy                           0.85       179
   macro avg       0.82      0.85      0.83       179
weighted avg       0.86      0.85      0.86       179

              precision    recall  f1-score   support

           0       0.94      0.81      0.87       126
           1       0.66      0.89      0.76        53

    accuracy                           0.83       179
   macro avg       0.80      0.85      0.81       179
weighted avg       0.86      0.83      0.84       179

              precision    recall  f1-score   support

           0       0.96      0.82      0.88       126
           1       0.68      0.92      0.78        53

    accuracy                           0.85       179
   macro avg       0.82      0.87      0.83       179
weighted avg       0.88      0.85      0.85       179

              precision    recall  f1-score   support

           0       0.94      0.86      0.89       118
           1       0.76      0.89      0.82        61

    accuracy                           0.87       179
   macro avg       0.85      0.87      0.86       179
weighted avg       0.88      0.87      0.87       179

              precision    recall  f1-score   support

           0       0.91      0.82      0.86       118
           1       0.71      0.84      0.77        61

    accuracy                           0.83       179
   macro avg       0.81      0.83      0.81       179
weighted avg       0.84      0.83      0.83       179

              precision    recall  f1-score   support

           0       0.89      0.88      0.88       108
           1       0.82      0.83      0.83        71

    accuracy                           0.86       179
   macro avg       0.85      0.86      0.85       179
weighted avg       0.86      0.86      0.86       179

In [ ]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.81      0.92      0.86       103
           1       0.87      0.70      0.77        76

    accuracy                           0.83       179
   macro avg       0.84      0.81      0.82       179
weighted avg       0.83      0.83      0.82       179

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [ ]:
test_df = pd.read_csv('test.csv')
test_df.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [ ]:
test_df.Fare.describe(include='all')

count    417.000000
mean      35.627188
std       55.907576
min        0.000000
25%        7.895800
50%       14.454200
75%       31.500000
max      512.329200
Name: Fare, dtype: float64

In [ ]:
test_df.Age.describe(include='all')

count    332.000000
mean      30.272590
std       14.181209
min        0.170000
25%       21.000000
50%       27.000000
75%       39.000000
max       76.000000
Name: Age, dtype: float64

In [ ]:
test_df['Sex'] = le.fit_transform(test_df['Sex'])
test_df['Fare'] = test_df['Fare'].replace(np.nan,test_df['Fare'].mean())
test_df['Embarked'] = test_df['Embarked'].replace(np.nan,'S')
test_df['Embarked'] = le.fit_transform(test_df['Embarked'])

for i in range(len(test_df['Fare'])):
  if test_df['Fare'][i] > 31:
    test_df['Fare'][i] = 4
  elif 31 >= test_df['Fare'][i] > 14.4542:
    test_df['Fare'][i] = 3
  elif 14.4542 >= test_df['Fare'][i] > 7.9104:
    test_df['Fare'][i] = 2
  elif 7.9104 >= test_df['Fare'][i]:
    test_df['Fare'][i] = 1
for i in range(len(test_df['Age'])):
  if test_df['Age'][i] > 38:
    test_df['Age'][i] = 4
  elif 38 >= test_df['Age'][i] > 28:
    test_df['Age'][i] = 3
  elif 28 >= test_df['Age'][i] > 20.125:
    test_df['Age'][i] = 2
  elif 20.125 >= test_df['Age'][i]:
    test_df['Age'][i] = 1
test_df['Age'] = test_df['Age'].replace(np.nan,5)
for i in range(len(test_df.Age)):
  if test_df.Age[i] == 5:
    test_df.Age[i] = np.random.random_integers(4)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: DeprecationWarning: This function is deprecated. Please call randint(1, 4 + 1) instead
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
testing_X = test_df[['Pclass','Sex','SibSp','Parch','Age','Fare','Embarked']]
pred1=model1.predict(testing_X)
pred2=model2.predict(testing_X)
pred3=model3.predict(testing_X)
pred4=model4.predict(testing_X)
pred5=model5.predict(testing_X)

In [ ]:
sub = []
for i in range(len(test_df)):
  p = stats.mode([pred1[i],pred2[i],pred3[i],pred4[i],pred5[i]])
  sub.append(int(p.mode))

In [ ]:
submission = pd.DataFrame()
submission['PassengerId'] = test_df['PassengerId']
submission['Survived'] = sub
submission.to_csv('attempt6.csv',index=False)